{%extends 'base.html'%}

{%block content%}

<h1>Profile</h1>

<p>Name: {{ user.first_name}} {{ user.last_name}}</p>
<img src={{user.image_url}}>

<button><a href=" /users/{{user.id}}/edit">Edit</a></button>
<button><a href="/users/{{user.id}}/delete">Delete</a></button>


<h1>{{user.first_name}} Posts:</h1>
{% for post in user.posts %}
<li>
  <h2><a href="/posts/{{post.id}}">{{ post.title }}</a></h2>
  <small>{{ post.created_at}}</small>
</li>
{% endfor %}

<button><a href="/users/{{user.id}}/posts/new"">Add a post for {{user.first_name}}</a></button>

{%endblock%}